:host {

    .content {

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper {
            width: 100%;
            height: 100%;
        }
    }
}