<div id="service" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'/main/services'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'">
                        {{ service.serviceName }}
                    </div>
                    <div class="h2" *ngIf="pageType === 'new'">New Service</div>
                    <div class="subtitle secondary-text">
                        <span>Service Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                mat-raised-button
                class="add-service-button"
                [disabled]="serviceForm.invalid"
                *ngIf="pageType === 'new'"
                (click)="addService()"
            >
                <span>ADD</span>
            </button>

            <button
                mat-raised-button
                class="save-service-button"
                [disabled]="serviceForm.invalid || serviceForm.pristine"
                *ngIf="pageType === 'edit'"
                (click)="saveService()"
            >
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="serviceForm"
                    [formGroup]="serviceForm"
                    class="service w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab label="Basic Info">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Service Name</mat-label>
                                    <input
                                        matInput
                                        placeholder="Service Name"
                                        name="serviceName"
                                        formControlName="serviceName"
                                        required
                                    />
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Service Description</mat-label>
                                    <textarea
                                        matInput
                                        placeholder="Service Description"
                                        name="description"
                                        formControlName="description"
                                        rows="5"
                                    >
                                    </textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Pricing">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Tax Excluded Price</mat-label>
                                    <input
                                        matInput
                                        placeholder="Tax Excluded Price"
                                        name="unitPrice"
                                        formControlName="unitPrice"
                                        type="number"
                                    />
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Tax Included Price</mat-label>
                                    <input
                                        matInput
                                        placeholder="Tax Included Price"
                                        name="totalPrice"
                                        formControlName="totalPrice"
                                        type="number"
                                    />
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Tax Rate</mat-label>
                                    <input
                                        matInput
                                        placeholder="Tax Rate"
                                        name="taxRate"
                                        formControlName="taxRate"
                                        type="number"
                                    />
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
