<div id="invoice" class="modern page-layout blank" fxLayout="row">
    <div class="invoice-container">
        <!-- INVOICE -->
        <div class="card">
            <div
                class="header"
                fxLayout="row"
                fxLayoutAlign="space-between start"
            >
                <div class="ids" fxLayout="column">
                    <div
                        fxLayout="row"
                        class="seller"
                        fxLayoutAlign="start center"
                    >
                        <div class="logo">
                            <img src="assets/images/logos/full-logo.png"/>
                        </div>

                        <div class="divider"></div>

                        <div class="detail">
                            <div class="title">
                                <span> <b>Invoice Number:</b></span>
                                {{ invoice.invoiceNumber }}</div>
                            <div class="address">
                                <span> <b>Address: </b></span>
                                Arkan Plaza Building 4 Sheikh Zayed, Giza, Egypt
                                Postal Code: 12588
                            </div>
                            <div class="phone">
                                <span><b>Phone:</b></span>
                                +2 0238277304 -
                                +201225556926
                            </div>
                            <div class="email">
                                <span><b>Email:</b></span>
                                info@vbseg.com
                            </div>
                            <div class="website">
                                <span><b>Web:</b></span>
                                www.vbseg.com
                            </div>
                        </div>
                    </div>

                    <div
                        fxLayout="row"
                        class="client"
                        fxLayoutAlign="start center"
                    >
                        <div
                            class="label"
                            fxLayout="row"
                            fxLayoutAlign="end center"
                        >
                            <div>CLIENT</div>
                        </div>

                        <div class="divider"></div>

                        <div class="detail">
                            <div class="title">
                                <span><b>Company Name: </b></span>
                                {{ client.companyName }}
                            </div>
                            <div
                                class="address"
                            >
                                <span><b>Address:</b></span>
                                {{ client.address }}
                            </div>
                            <div class="phone">
                                <span><b>Phone: </b></span>
                                {{ client.phoneNumber }}
                            </div>
                            <div class="email">
                                <span><b>Email:</b></span>
                                {{ client.email }}
                            </div>
                            <div
                                class="website"
                            >
                                <span><b>Website:</b></span>
                                {{ client.website }}
                            </div>
                        </div>
                    </div>

                </div>

                <table class="summary">
                    <tr class="code">
                        <td class="label">INVOICE</td>
                        <td class="value">{{ invoice.invoiceNumber }}</td>
                    </tr>

                    <tr>
                        <td class="label">INVOICE DATE</td>
                        <td class="value">{{ invoice.invoiceDate  | date: 'mediumDate'}} </td>
                    </tr>

                    <tr>
                        <td class="label">TOTAL DUE</td>
                        <td class="value">
                            {{ invoice.totalDue | currency: "USD":"symbol" }}
                        </td>
                    </tr>

                    <div class="divider"></div>

                    <tr class="detail">
                        <td class="label"> Project Number: </td>
                        <td class="value"> {{ project.projectNumber }} </td>

                        <td class="label"> Project Name: </td>
                        <td class="value">{{ project.projectName }}</td>

                        <td class="label"> Phone: </td>
                        <td class="value">{{ client.phoneNumber }}</td>

                    </tr>

                </table>
            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                    <tr>
                        <th>SERVICE</th>
                        <th class="text-right">VAT</th>
                        <th class="text-right">AMOUNT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let service of services">
                        <td>
                            <div class="title">
                                {{ service.serviceName }}
                            </div>
                            <div class="detail">
                                {{ service.description }}
                            </div>
                        </td>
                        <td class="text-right">
                            {{ service.vat | currency: "USD":"symbol" }}
                        </td>
                        <td class="text-right">
                            {{ service.price | currency: "USD":"symbol" }}
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table class="simple invoice-table-footer">
                    <tbody>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>
                            {{ invoice.totalDue | currency: "USD":"symbol" }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div class="note">
                    Please pay within 15 days. Thank you for your business.
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <img src="assets/images/logos/full-logo.png"/>
                    </div>
                    <div class="small-note">
                        In condimentum malesuada efficitur. Mauris volutpat
                        placerat auctor. Ut ac congue dolor. Quisque scelerisque
                        lacus sed feugiat fermentum. Cras aliquet facilisis
                        pellentesque. Nunc hendrerit quam at leo commodo, a
                        suscipit tellus dapibus. Etiam at felis volutpat est
                        mollis lacinia. Mauris placerat sem sit amet velit
                        mollis, in porttitor ex finibus. Proin eu nibh id libero
                        tincidunt lacinia et eget eros.
                    </div>
                </div>
            </div>

            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example:
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->
        </div>
        <!-- / INVOICE -->
    </div>
</div>
